@import "tailwindcss";

@font-face {
  font-family: 'signsol';
  src: url('/fonts/proximanova-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'signsol';
  src: url('/fonts/proximanova-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "signsol", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-background: #f7f9fc;
  --color-light: #444444;
}


html,
body {
  background: var(--color-background);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  width: 100%;
  cursor: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  html, body {
    cursor: auto;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  letter-spacing: -0.02em;
}


/* Apply this to your scrollable container (e.g., body or a div) */
.hide-scrollbar {
  overflow: auto;           /* allow scrolling */
  scrollbar-width: none;    /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Edge */
}

.prose i {
  font-style: italic;
}

.prose u {
  text-decoration: underline;
}

.editor-block-image img,
.editor-block-video video {
  border-radius: 1.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  margin: 3rem auto;
}
